body {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
}


/* Nav */

nav {
    display: flex;
    background-color: #ccedfd;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    color: white;
}

nav .logo {
    font-family: "Pacifico", cursive;
    letter-spacing: 3px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:hover {
    color: #005885;
}


/* Hamburger menu */

.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: rgb(248, 241, 255);
    border-radius: 3px;
    transition: all 0.5s;
}


/* Hamburger animation */

.menu-toggle span:nth-child(2) {
    transform-origin: 0;
}

.menu-toggle input:checked~span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0;
}

.menu-toggle input:checked~span:nth-child(4) {
    background-color: white;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}


/* Responsive */


/* Ukuran tablet */

@media only screen and(max-width:768px) {
    nav ul {
        width: 50%;
    }
}


/* Ukuran mobile */

@media only screen and (max-width: 576px) {
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
        height: 80vh;
        justify-content: space-evenly;
        flex-direction: column;
        background-color: #ccedfd;
        align-items: center;
        z-index: 1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    .menu-toggle {
        display: flex;
    }
    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}


/* Akhir Nav */


/* Home */

footer {
    width: 100%;
    height: 560px;
    background-color: #ccedfd;
}

.app-text h1 {
    font-size: 43px;
    width: 640px;
    position: absolute;
    left: 160px;
    top: 210px;
    color: #259bde;
}

.app-text small {
    position: absolute;
    top: 360px;
    left: 160px;
    font-size: 13px;
}

.img img {
    width: 500px;
    position: absolute;
    right: 100px;
    top: 53px;
}


/* Akhir Home */


/* Facility */

.facilty p {
    color: #676e72;
    position: relative;
    top: 325px;
    text-align: center;
}

.facilty hr {
    color: #676e72;
    position: relative;
    top: 315px;
    text-align: center;
}

.kotak {
    position: absolute;
    bottom: -100px;
    left: 295px;
    width: 350px;
    height: 220px;
    background-color: #eee;
}

.kedua img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    background-color: #3633d6;
    position: absolute;
    top: 550px;
    left: 305px;
}

.kedua p {
    font-size: 20px;
    position: absolute;
    top: 594px;
    left: 306px;
    color: #259bde;
}

.kedua small {
    position: absolute;
    top: 647px;
    left: 306px;
    color: black;
}

.kedua-1 img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    background-color: #3633d6;
    position: absolute;
    top: 14px;
    left: 10px;
}

.kotak-1 {
    position: absolute;
    bottom: -100px;
    right: 290px;
    width: 350px;
    height: 220px;
    background-color: #eee;
}

.kedua-1 p {
    position: absolute;
    font-size: 20px;
    top: 56px;
    left: 10px;
    color: #259bde;
}

.kedua-1 small {
    position: absolute;
    top: 110px;
    left: 10px;
    color: black;
}

.kedua-2 img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    background-color: #3633d6;
    position: absolute;
    top: 14px;
    left: 10px;
}

.kotak-2 {
    position: absolute;
    bottom: -250px;
    right: 410px;
    width: 350px;
    height: 220px;
    background-color: #eee;
}

.kedua-2 p {
    position: absolute;
    font-size: 20px;
    top: 56px;
    left: 10px;
    color: #259bde;
}

.kedua-2 small {
    position: absolute;
    top: 110px;
    left: 10px;
    color: black;
}

.kedua-3 img {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    text-align: center;
    background-color: #3633d6;
    position: absolute;
    top: 14px;
    left: 10px;
}

.kotak-3 {
    position: absolute;
    bottom: 0px;
    left: 410px;
    width: 350px;
    height: 220px;
    background-color: #eee;
}

.kedua-3 p {
    position: absolute;
    font-size: 20px;
    top: 56px;
    left: 10px;
    color: #259bde;
}

.kedua-3 small {
    position: absolute;
    top: 109px;
    left: 10px;
    color: black;
}

.lingkar1 {
    width: 320px;
    height: 320px;
    background-color: #ccedfd;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 820px;
    right: 0px;
}


/*Akhir Facilty*/


/* Library*/

.library p {
    color: #676e72;
    position: relative;
    top: 465px;
    text-align: center;
}

.library hr {
    color: #676e72;
    position: relative;
    top: 455px;
    text-align: center;
}

section {
    position: absolute;
    top: 1230px;
    width: 100%;
    height: 650px;
    background-color: #fff;
}

.lingkar2 {
    background-color: #ccedfd;
    width: 330px;
    height: 330px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: absolute;
    left: -170px;
    top: 63px;
}

.read img {
    position: absolute;
    width: 350px;
    top: 40px;
    left: 230px;
}

.read p {
    color: #259bde;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 165px;
    right: 320px;
}

.read small {
    position: absolute;
    top: 265px;
    right: 275px;
}


/*Akhir Library*/


/*Kategori*/

.kategori p {
    color: #676e72;
    position: relative;
    top: 510px;
    text-align: center;
}

.kategori hr {
    position: relative;
    top: 500px;
    text-align: center;
}

.cat1 {
    position: absolute;
    left: 150px;
    top: 1905px;
    width: 300px;
    height: 250px;
    background-image: linear-gradient(to bottom left, #db1bf6, #19d7f8);
    border-radius: 8px;
}

.cat1 img {
    position: absolute;
}

.cat1 p {
    font-size: 20px;
    position: absolute;
    top: 280px;
    left: 60px;
}

.cat1 small {
    position: absolute;
    top: 330px;
    left: 65px;
}

.cat1 h7 {
    position: absolute;
    font-size: 16px;
    top: 380px;
    left: 97.5px;
    color: #259bde;
}

.cat2 {
    font-size: 14px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #676e72;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 420px;
    left: 67.5px;
    cursor: pointer;
}

.cat3 {
    position: absolute;
    left: 530px;
    top: 1905px;
    width: 300px;
    height: 250px;
    background-image: linear-gradient(to bottom left, #db1bf6, #19d7f8);
    border-radius: 8px;
}

.cat3 img {
    position: absolute;
    left: 25px;
}

.cat3 p {
    font-size: 20px;
    position: absolute;
    top: 280px;
    left: 57px;
}

.cat3 small {
    position: absolute;
    top: 330px;
    left: 118px;
}

.cat3 h7 {
    position: absolute;
    font-size: 16px;
    top: 380px;
    left: 104px;
    color: #259bde;
}

.cat4 {
    font-size: 14px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #676e72;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 420px;
    left: 75.5px;
    cursor: pointer;
}

.cat5 {
    position: absolute;
    top: 1905px;
    width: 300px;
    height: 250px;
    background-image: linear-gradient(to bottom left, #db1bf6, #19d7f8);
    border-radius: 8px;
    left: 901.5px;
}

.cat5 img {
    position: absolute;
    left: 23px;
}

.cat5 p {
    font-size: 20px;
    position: absolute;
    top: 280px;
    left: 53px;
}

.cat5 small {
    position: absolute;
    top: 330px;
    left: 97px;
}

.cat5 h7 {
    position: absolute;
    font-size: 16px;
    top: 380px;
    left: 104px;
    color: #259bde;
}

.cat6 {
    font-size: 14px;
    width: 150px;
    height: 50px;
    background-color: #fff;
    border: 1px solid #676e72;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: 420px;
    left: 75.5px;
    cursor: pointer;
}


/*Akhir kategori*/


/*More*/

.more p {
    position: relative;
    top: 1700px;
    text-align: center;
    color: #676e72;
}

.more hr {
    position: relative;
    text-align: center;
    top: 1690px;
}

.wa img {
    position: relative;
    left: 249px;
    top: 1820px;
    width: 50px;
}

.wa p {
    position: relative;
    left: 310px;
    top: 1778px;
    width: 50px;
    color: #259bde;
}

.face img {
    position: relative;
    left: 255px;
    top: 1800px;
    width: 35px;
}

.face p {
    position: relative;
    left: 310px;
    top: 1753px;
    width: 50px;
    color: #259bde;
}

.twit img {
    position: relative;
    left: 257px;
    top: 1780px;
    width: 29px;
}

.twit p {
    position: relative;
    left: 310px;
    top: 1735px;
    width: 50px;
    color: #259bde;
}

.mail img {
    position: absolute;
    left: 890px;
    top: 2610px;
    width: 29px;
}

.mail p {
    position: relative;
    left: 940px;
    top: 1566.5px;
    width: 50px;
    color: #259bde;
}

.insta img {
    position: relative;
    left: 889px;
    top: 1595px;
    width: 32px;
}

.insta p {
    position: relative;
    left: 940px;
    top: 1551px;
    width: 50px;
    color: #259bde;
}

.alamat img {
    position: relative;
    left: 892px;
    top: 1578px;
    width: 28px;
}

.alamat p {
    position: relative;
    left: 940px;
    top: 1535.5px;
    width: 150px;
    color: #259bde;
}


/*Akhir more*/


/*Copy*/

section1 {
    width: 100%;
    height: 42px;
    background-color: #ccedfd;
    position: absolute;
    top: 3040px;
}

section1 p {
    color: #999999;
    font-size: 13px;
    position: absolute;
    left: 150px;
}


/*Akhir copy*/