body{
	margin: 0;
	padding: 0;
	font-family: Roboto;
}
.menu{
	position: absolute;
	top: 0px;
	background-color: #259BDE;
	width: 400px;
	height: 657px;
}
.menu ul li{
	display: inline-flex;
	margin-right: 5px;
	list-style: none;
}
.active {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	top: 53px;
	left: 46px;
	position: absolute;
}
.logo img{
	position: absolute;
	left: 98px;
	top: 35px;
}
.text h1{
	color: #ffffff;
	font-size: 40px;
	width: 350px;
	position: absolute;
	top: 197px;
	left: 61px;
}
.text p{
	opacity: 0.9;
	color: #edf3f1;
	font-size: 14px;
	position: absolute;
	top: 290px;
	left: 87px;
}
.text p1{
	opacity: 0.9;
	color: #edf3f1;
	font-size: 14px;
	position: absolute;
	top: 330px;
	left: 104px;
}
.sign-in{
	position: absolute;
	left: 100px;
	top: 400px;
	list-style: none;
	color: #fff;
	border: 2px solid #ddd;
	border-radius: 30px;
	background-image: linear-gradient(#259BDE, #259BDE);
	background-origin: border-box;
	width: 185px;
	height: 49.5px;
	text-align: center;
	cursor: pointer;
}
.sign-in span{
	position: absolute;
	left: 70px;
	top: 15px;
}
.sign {
	top: 390px;
	right: 110.5px;
	position: absolute;
	text-decoration: none;
	color: #fff;
	border: 2px solid #ddd;
	border-radius: 30px;
	background-image: linear-gradient(#259BDE, #259BDE);
	background-origin: border-box;
	width: 185px;
	height: 49.5px;
	text-align: center;
	cursor: pointer;
}
.create h1{
	font-weight: bold;
	font-size: 35px;
	color: #1389cc;
	width: 250px;
	position: absolute;
	top: 100px;
	left: 780px;
}
.sosmed{
	position: absolute;
	top: 170px;
	left: 785px;
}
.sosmed ul{
	display: inline-flex;
	text-align: center;
}
.sosmed ul li {
	margin-left: 5px;
}
.sosmed ul li a{
	width: 30px;
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 50%;
	color: #000;
	padding: 5px;
	display: block;
}
.sosmed ul li .fa{
	position: absolute;
	top: 27px;
}
.sosmed ul li face{
	position: absolute;
	top: 2.3px;
	left: 62px;
}
.sosmed ul li plus{
	position: absolute;
	top: 2.3px;
	left: 109px;
}
.sosmed ul li linked{
	position: absolute;
	top: 2.3px;
	left: 164px;
}
.text1 p{
	width: 250px;
	font-size: 13px;
	position: absolute;
	top: 247px;
	left: 810px;
	color: #bdc5c2;
}
.sign1 {
	top: 485px;
	left: 798.5px;
	position: absolute;
	text-decoration: none;
	color: #fff;
	border: 2px solid transparent;
	border-radius: 30px;
	background-image: linear-gradient(#1389cc, #1389cc);
	background-origin: border-box;
	width: 205px;
	height: 48px;
	cursor: pointer;
}
.sig1 p{
	font-size: 18px;
	position: absolute;
	top: -4px;
	left: 71px;
}
.form_control {
	width: 310px;
	height: 40px;
	background-color: #edeaea;
	border: 1px solid #edeaea;
	position: absolute;
	top: 305px;
	left: 750px;
}
.form_email{
	width: 310px;
	height: 40px;
	background-color: #edeaea;
	border: 1px solid #edeaea;
	position: absolute;
	top: 365px;
	left: 750px;	
}
.form_pass{
	width: 310px;
	height: 40px;
	background: #edeaea;
	border: 1px solid #edeaea;
	position: absolute;
	top: 425px;
	left: 750px;
}






